$font-sans-serif: 'Open Sans', sans-serif;
$font-serif: 'Arvo', serif;

$bg-color: #f6f6f6;
$mask-color: #495d5d;

$link-color: #7759FF;
$primary-color: #7759FF;
$link-hover-color: #7E1FFF;

$dark-bg-color: #1D2228;
$text-on-dark: #F1F1F5;
$primary-on-dark: #907CFF;
$default-text-color: #232A31;
$second-text-color: #464E56;
$light-text-color: #828C93;
$white: #ffffff;
$black: #000000;
$grey-background: #f5f5f5;


// scroll indicator
.scroll-indicator {
    position: fixed;
    top: 0;
    z-index: 1050;
    width: 100%;
    .progress-container {
        width: 100%;
        height: 6px;
        background: transprent;
        .scrollIndicator-background {
            background-color: $primary-color;
        }
        .progress-bar {
            height: 6px;
            width: 0%;
        }
    }
}


// sidenav
.fixed-sidenav {
    width: max-content;
    position: fixed;
    z-index: 1;
    top: 33vh;
    left: 15px;
    overflow-x: hidden;
    display: none;
    float: left;
    a {
        text-decoration: none;
        display: block;
        margin: 1em 0;
        width: fit-content;
        h5 {
            font-size: 0.9rem;
            line-height: 1.1rem;
            color: $light-text-color;
            font-weight: 400;
        }
    }
    a.active, a:hover {
        h5 {
            color: $primary-color;
            font-weight: 500;
        }
    }
}
@media (min-width: 1600px){
    .fixed-sidenav {
        display: block;
    }
}

.highlight-text {
    position: relative;
    font-weight: 700;
    color: $default-text-color;
    background-image: linear-gradient(to right, transparent 50%, rgba(144, 124, 255, 0.3) 50%);
    background-origin: 0;
    background-size: 200% 35%;
    background-repeat: repeat-x;
    background-position: -100% 100%;
}
.highlight-text-dark {
    color: $white;
}


.ysports-cover {
    .app-store {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            a {
                margin-right: 24px;
            }
    }
}

.dark-section {
    background-color: $dark-bg-color;
    padding-top: 120px;
    padding-bottom: 120px;
    h4 {
        color: $primary-on-dark;
    }
}

.category {
    margin-top: 200px;
    margin-bottom: 200px;
}

.category-bottom{
    margin-bottom: 220px;
}

.section-bottom{
    margin-bottom: 150px;
}
.section-bottom2{
    padding-bottom: 230px;
}

.section-top {
    margin-top: 100px;
}
.section-top2 {
    margin-top: 180px;
}


.white-section {
    padding-top: 20px;
    padding-bottom: 0px;
}

.gradient-section {
    background-image: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
    padding-top: 110px;
    padding-bottom: 110px;
}

.grey-section {
    background-color: $grey-background;
    padding-top: 110px;
    padding-bottom: 110px;
}

.headerParagraph {
    margin-top: 70px;
    margin-bottom: 70px;
    h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h5 {
        padding-top: 30px;
        padding-bottom: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .mybtn {
        margin-bottom: 20px;
        margin-top: 0px;
        a {
            color: $white;
        }
    }
    img {
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

.transplant {
    background-image: url("img/transplant.png");
}

.onlyImage {
    h3 {margin-bottom: 0px;}
    img {margin-top: 70px;
    margin-bottom: 50px;}
    .secondpara {margin-top: 120px;}
}

.withSubHeader {
    h3 {margin-bottom: 50px;}
    h5 {
        margin-top: 0px;
        padding-top: 0px;
    }
    .followpara {
        margin-bottom: 150px;
    }
    img {margin-top: 20px;
    margin-bottom: 50px;}
    .secondpara {margin-top: 120px;}
}

.textAndImage {
    img {margin-bottom: 70px;}
    .secondpara {
        img {
            margin-top: 40px;
        }
    }
    .less-top-para {
        margin-top: -40px;
    }
}

.onlyText {
    margin-bottom: 100px;
}
.onlyText2 {
    margin-top: -50px;
    margin-bottom: 180px;
    .less-top-para {
        margin-top: 40px;
    }
}
.onlyText3 {
    margin-top: -50px;
    margin-bottom: 180px;
    .less-top-para {
        margin-top: 10px;
    }
}

.multiImage{
    .followpara {
        margin-top: -40px;
    }
    .firstpara {
        margin-bottom: 40px;
    }
    .secondpara {
        margin-top: 60px;
        margin-bottom: 120px;
    }
    .thirdpara {
        margin-top: -60px;
        margin-bottom: 20px;
    }
    .app-store {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 100px;
        margin-right: 100px;
        img {
            float: none;
            margin: 20px auto;
        }
    }
}

.leftAndRight {
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            margin-bottom: 0px;
        }
        h3 {
            margin-top: 0px;
        }
        img {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
}

.user-quote {
    margin-right: 20px;
    .user-quote-p {
        font-size: 1rem;
        line-height: 1.5rem;
        border-left: 6px solid $primary-color;
        padding-left: 15px;
    }
    .user-quote-h5 {
        border-left: 8px solid $primary-color;
        padding-left: 15px;
        text-transform: none;
        padding-top: 15px;
        margin-top: 10px;
    }
    .user-quote-h3 {
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 400;
        border-left: 8px solid $primary-color;
        padding-left: 15px;
        text-transform: none;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .user-quote-h2 {
        font-size: 2.5rem;
        line-height: 4.2rem;
        font-weight: 600;
        padding-top: 25px;
        padding-bottom: 0px;
        margin-top: 15px;
    }
}

#context {
    img {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .whyBuildIt {
        margin-top: 70px;
    }
}
#solutionOverview {
    .special-row {
        margin-top: -40px;
        margin-bottom: -100px;
    }
}

@media (max-width: 1499px) and (min-width: 1200px) {
    .withTab {
        ul {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .multiImage{
        .app-store {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

}

@media (max-width: 1199px) and (min-width: 992px) {
    .dark-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .category {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .category-bottom{
        margin-bottom: 150px;
    }

    .gradient-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .grey-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .section-bottom{
        margin-bottom: 120px;
    }

    .section-top {
        margin-top: 100px;
    }
    .section-bottom2{
        margin-bottom: 230px;
    }

    .section-top2 {
        margin-top: 180px;
    }


    .leftAndRight {
        img {margin-bottom: 40px;}
    }

    .withSubHeader {
        .secondpara {margin-top: 60px;}
    }

    .textAndImage {
        img {margin-bottom: 40px;}
    }

    .onlyImage {
        .secondpara {margin-top: 60px;}
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .multiImage{
        .followpara {
            margin-top: -50px;
        }
        .secondpara {
            margin-top: 100px;
        }
        .thirdpara {
            margin-top: -60px;
            margin-bottom: 20px;
        }
        .app-store {
            flex-direction: row;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

}

@media (max-width: 991px) and (min-width: 300px) {
    .dark-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .category {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .category-bottom{
        margin-bottom: 150px;
    }

    .gradient-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .grey-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .section-bottom{
        margin-bottom: 120px;
    }

    .section-top {
        margin-top: 100px;
    }
    .section-bottom2{
        margin-bottom: 230px;
    }

    .section-top2 {
        margin-top: 180px;
    }
    .headerParagraph {
        margin-top: 50px;
        margin-bottom: 50px;
        .mybtn {
            font-size: 0.9rem;
        }
    }

    .leftAndRight {
        img {margin-bottom: 40px;}
        .row {
            flex-direction: column;
        }
    }

    .withSubHeader {
        .secondpara {margin-top: 60px;}
    }

    .textAndImage {
        img {margin-bottom: 40px;}
    }

    .multiImage{
        .followpara {
            margin-top: -50px;
        }
        .secondpara {
            margin-top: 100px;
        }
        .thirdpara {
            margin-top: -60px;
            margin-bottom: 20px;
        }
        .app-store {
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .onlyImage {
        .secondpara {margin-top: 60px;}
        h1 {
            font-size: 3rem;
            line-height: 4rem;
        }
    }
    .onlyText {
        h3 {
            font-weight: 600;
            line-height: 3rem;
        }
        margin-bottom: 100px;
        // margin-top: 150px;
    }
    .user-quote {
        .user-quote-h3 {
            font-size: 1.5rem;
            line-height: 2.4rem;

        }
        .user-quote-h2 {
            font-size: 1.5rem;
            line-height: 2.4rem;
        }
    }

}
