.page-name {
    margin-top: 8rem;
}

.yuliuPhotos {
    margin-top: 50px;
    img {
        filter: drop-shadow(7px 7px 23px rgba(0, 0, 0, 0.2));
    }
}

.second-part{
    padding-top: 120px;
    margin-bottom: 200px;
    h4{
        text-align: left;
    }
    p {
        font-size: 1.1rem;
    }
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: #d1d1d1;
}


.text1 a:hover, .text1 h3:focus{
    color: #eabb00;
}

.h3_1{
    color: #495d5d;
    text-decoration: underline;
}

@media (max-width: 991px) and (min-width: 300px) {
    .second-part {
        h4 {
            line-height: 1.8rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.8rem;
        }
    }
}
