.page-name {
    margin-top: 8rem;
}


.resume {
    margin-top: 70px;
    margin-bottom: 200px;
    embed {
        width: 830px;
        height: 1124px;
    }
}

@media (max-width: 600px) and (min-width: 300px) {
    .resume {
        embed {
            width: 280px;
            height: 400px;
        }
    }
}
